body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: grid;
  grid-template-columns: 210px auto;
  height: 100vh;
}

.lateral {
  width: 210px; /* Aumentamos el ancho de la barra lateral */
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
}

.note {
  background-color: whitesmoke; /* Para visualizar el espacio ocupado por el div note */
  padding: 10px;
}

.noteButtonContainer {
  margin-top: auto; /* Coloca el botón al final de la barra lateral */
  display: flex;
  justify-content: center;
}

/* Estilo del botón */
.noteButton {
  margin-top: auto;
  margin-bottom: 50px;
  height: 50px;
  width: 100%;
  /*border-radius: 20%; Hace que el botón sea redondeado */
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;
}

.noteButton:hover {
  background-color: #808080;
}

/* CSS related with NoteRow in Lateral Menu */

.noteRow {
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.noteRow:hover{
  background-color: #808080;
  cursor: pointer;
}

.noteRowTitle {
  font-size: 14px;
}

.noteRowButton {
  background-color: #333;
  border: none;
  border-radius: 30%;
  height: 30px;
}

.noteRowButton:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}

/* End of CSS related with NoteRow in Lateral Menu */

/* CSS related with the Note */

.noteContent{
  text-align: center;
  gap: 5px;
}

.noteContent p{
  font-size: 32px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

/* End CSS relatedt with the Note */

/* CSS related with the Paragraph component */

.paragraphStyle{
  height: auto;
  min-height: 40px;
}

.paragraphStyle textArea{
  border-color: #dddddd;
  width: 100%;
  height: auto;
  resize: none;
  min-height: 40px;
}

.paragraphButton {
  background-color: rgb(182, 182, 182);
  border: none;
  border-radius: 20px ;
  height: 50px;
  font-size: 16px;
  margin-right: 10px;
}

.paragraphButton:hover {
  background-color: rgb(105, 105, 105);
  cursor: pointer;
}

/* End CSS related with the Paragraph component */


/*.buttonsContainer {
  display: flex;
  margin-right: 5px;
  gap: 5px;  Espacio entre los botones 
}

.buttonsContainer button {
  border-radius: 30%;
  height: 30px;
  background-color: #333;
  border: none;
}

.buttonsContainer button:hover {
  background-color: #b8b8b8;
  border: none;
  cursor: pointer;
}*/